<section class="home-container">
    <article class="left">
        <div class="title-text-home">
            <h1>Welcome to Github for developers</h1>
        </div>
        <div class="text-content-home">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias qui modi quisquam tempora quis doloremque dignissimos vel ipsam eligendi optio reprehenderit, deleniti omnis, repellendus nemo suscipit deserunt unde dolorum accusamus! </p>
        </div>
    </article>
    <aside class="right">
        <img src="../../../../assets/img/secure-data-animate.svg" alt="image-code">
    </aside>
</section>